[submodule ".registry"]
	path = .registry
	url = https://github.com/roaldarbol/roaldarbol.r-universe.dev
	branch = HEAD
[submodule "altdoc"]
	path = altdoc
	url = https://github.com/etiennebacher/altdoc
	registered = false
[submodule "anibehavr"]
	path = anibehavr
	url = https://github.com/roaldarbol/anibehavr
[submodule "animovement"]
	path = animovement
	url = https://github.com/roaldarbol/animovement
[submodule "respirometr"]
	path = respirometr
	url = https://github.com/roaldarbol/respirometr
[submodule "rpix"]
	path = rpix
	url = https://github.com/roaldarbol/rpix
[submodule "usethis"]
	path = usethis
	url = https://github.com/r-lib/usethis
	registered = false
