[submodule ".registry"]
	path = .registry
	url = https://github.com/roaldarbol/roaldarbol.r-universe.dev
	branch = HEAD
[submodule "anibehavr"]
	path = anibehavr
	url = https://github.com/roaldarbol/anibehavr
[submodule "respirometr"]
	path = respirometr
	url = https://github.com/roaldarbol/respirometr
[submodule "rpix"]
	path = rpix
	url = https://github.com/roaldarbol/rpix
[submodule "wavecolour"]
	path = wavecolour
	url = https://github.com/roaldarbol/wavecolour
