[submodule ".registry"]
	path = .registry
	url = https://github.com/roaldarbol/roaldarbol.r-universe.dev
	branch = HEAD
[submodule "pixi"]
	path = pixi
	url = https://github.com/roaldarbol/r-pixi
[submodule "sleeprex"]
	path = sleeprex
	url = https://github.com/roaldarbol/sleeprex
